.header {
    background-color: #007cfd;
    text-align: center;
    height: 64px;
    font-size: 26px;
    color: #fff;
    line-height: 64px;
}

.conversation-title {
    text-align: center;
    height: 64px;
    line-height: 64px;
    font-size: 20px;
    border: 1px solid #dbdbdb;
    border-left: 0px;
}

.chat-container {
    height: 100vh;
}

.chat-container .main {
    display: flex;
    height: calc(100vh - 64px);
}

.chat-container .conversation-detail {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;
    max-width: 85%;
}

.chat-container .list-message {
    flex-grow: 1;
    overflow-y: scroll;
}

.chat-container #send-message-form {
    position: relative;
}

#send-message-form button {
    background-color: #fff;
    border: 0;
    box-shadow: none;
    position: absolute;
    right: 0px;
    top: 15px;
}


#send-message-form .input-wrapper {
    margin: 0
}

#send-message-form .input-wrapper input {
    padding: 22px 20px;
    border: none;
}

.list-message .message .content {
    width: max-content;
    padding: 4px 8px;
    border-radius: 4px;
    max-width: 45%;
    word-wrap: break-word;
    line-height: 1.34;
}

.list-message .message.mine .content {
    background-color: #007cfd;
    color: #fff;
}

.list-message .message.mine {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.list-message .message.their .content {
    background-color: #dbdbdb;
}

.chat-container .list-message {
    padding: 10px;
}
.btn-send{
    color: #007cfd;
    font-size: 30px;
    cursor: pointer;
    padding: 0 10px;
}
.btn-send:hover{
    color: #0166d3;
}
input:focus{
    outline: none;
}

.input-wrapper input{
    width: 98%;
}
.border-input{
    border: 1px solid #dbdbdb;
    border-left: 0px;
}
.chat-container .aside-left{
    width: 15%;
    height: 100%;
    border-right: 1px solid #dbdbdb;
    /* text-align: center;
    line-height: 64px; */
}
.chat-container .aside-left .create-conversation{
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}
.chat-container .aside-left .list-conversations .conversation{
    padding: 10px;
}
.chat-container .aside-left .list-conversations .conversation.current{
    background-color: #dbdbdb;
}