.color-blue{
    color: blue;
}
.color-blue:hover{
    color: red;
}
h1, p {
    font-family: monospace;
}

.parent .first-child{
    color: red;
}

.parent{
    display: flex;
    justify-content: space-around;
}
.parent div{
    width: 100px;
}